---
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
ColumnLimit: 80
AlignAfterOpenBracket: Align
BinPackParameters: true
ContinuationIndentWidth: 8
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
